<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Context-Type">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/style/bootstrap-theme.min.css">
    <link href="/style/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <style>
    #content {
        width: 1024px;
        height: auto;
        padding: 0px;
        margin: auto;
    }
    </style>
    {% block style %}{% endblock %}
</head>

<body>
    <section id="content">
        {% include 'nav.html' %} {% block content %}
        <p>Missing content!</p>
        {% endblock %}
    </section>
    <script type="text/javascript" src="/script/jquery-1.8.3.min.js" charset="UTF-8"></script>
    <script src="/script/bootstrap.min.js"></script>
    <script type="text/javascript" src="/script/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/script/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/script/ichart.1.2.min.js"></script>
    <script>
    $(function() {
        initNav();

        $("ul.nav li").die("click").live("click", function() {
            $(this).addClass("active").siblings().removeClass("active");
            console.log("true");
        });
    });

    function initNav() {
        var href = window.location.href.toLocaleLowerCase();
        $("ul.nav li").each(function(index, item) {
            if (href.indexOf($(this).text().toLocaleLowerCase()) > -1) {
                $(this).addClass("active").siblings().removeClass("active");
            }
        })
    }
    </script>
    {% block script %}{% endblock %}
</body>

</html>
