
{% extends '../../layout.html' %}

{% block title %}reptile control{% endblock %}

{% block style %}
<style>
	
</style>
{% endblock %}

{% block script %}
<script>
	$(function(){
		$("#getAppled").click(function(){
			$.getJSON("/reptile/getAppled_cc","",function(data){
			if (data ){
				console.log(data);
			} else {
				alert("获取数据失败，请稍后重试。")
			}
		})
			//window.location.href="/reptile/getAppled_cc";
		});
	});
</script>
{% endblock %}

{% block content %}
	<h1>Hello Reptile control </h1>
	<button id="getAppled"  class="btn btn-default">start get appled.cc</button>
{% endblock %}